{# Supposons que notre vue a fourni un objet nommé article contenant les attributs titre, auteur et contenu #}
<h2>{{ article.title }}</h2>
<p><em>Article publié par {{ article.author }} le {{article.date}}</em></p>

<p>{{ article.content }}</p>
<p>Vous avez {{ id_article }} message{{id_article|pluralize}}</p>
<p>Il y a {{ id_article }} chev{{id_article|pluralize:"al,aux"}} dans l'écurie</p>
Bienvenue {{ pseudo|default:"visiteur" }}